$body_font-size: 16px;

$size-1: 1rem;
$size-2: 2rem;
$size-3: 3rem;
$size-4: 4rem;
$size-5: 5rem;
$size-6: 6rem;

$height_header: $size-4;
$height_modal: 40vh;
$width_leftMenu: 15vw;

$color-white: #fff;
$color-transparent: transparent;
$img-border-radius: 15px;
$z-index-modal: 100;
$over-modal: $z-index-modal + 1;

body {
  font-size: $body_font-size;
}

.main-icon {
  width: 100%;
  height: $height_header;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid beige;
  border-bottom: 2px solid #00ECEC;
  z-index: 999;
  background-color: $color-white;

  .btn-menu, .search-object {
    text-align: center;
    position: absolute;
  }

  .btn-menu {
    left: $body_font-size;
  }

  $button-width: 40px;
  .search-object {
    right: $body_font-size;
    height: $button-width;
    width: $button-width;
    box-sizing: border-box;
  }
  .search-box {
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
    padding-left: $body_font-size;
    padding-right: $button-width;
  }
}

@media screen and (max-width: 768px) {
  .common-header {
    width: auto !important;
    left: 0;
    right: 0;
  }

  .modal {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.common-header {
  position: absolute;
  
  top: $height_header;
  background-color: $color-white;
  color: #3870be;
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &_menu {
    position: fixed;
    height: 100%;
    width: $width_leftMenu;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: $over-modal;
    span {
      background-color: $color-white;
      border: 1px solid black;
      border-radius: $img-border-radius;
      height: $size-4;
      cursor: pointer;
    }

    .active {
      font-weight: bold;
    }
  }
}

.no-border-btn {
  cursor: pointer;
  border: none;
  background: none;
  height: 2rem;
  &.active {
    border: 1px solid black;
  }
}

.modal {
  position: fixed;
  left: $width_leftMenu;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  z-index: $over-modal;
  margin-left: $size-2;
  right: 0;
  &>.active {
    font-weight: bold;
  }

  span {
    cursor: pointer;
    border-radius: $img-border-radius;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: $color-white;
  }
  &-close {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
  }
  &-dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-modal;
    background-color: gray;
    opacity: 0.3;
  }
}

.common-body {
  position: absolute;
  margin-top: calc(#{$height_header} + #{$size-3});
  width: 100%;
  white-space: nowrap;
  overflow: auto;
}

// .common-leftmenu {
//   height: calc(100vh - #{$height_header});
//   width: $width_leftMenu;
//   float: left;
//   white-space: nowrap;
//   overflow: auto;

//   display: flex;
//   flex-direction: column;
//   row-gap: 10px;

//   a {
//     display: flex;
//     align-items: center;
//     &::before {
//       content: '';
//       width: 30px;
//       height: 30px;
//       margin-right: 10px;
//     }
//   }
// }